.card {
  background-color: white;
  border-radius: 20px;
  position: relative;
  flex: 0 1 auto;
  &__content{
    padding: 20px;
  }
  &__image {
    position: relative;
    display: flex;
    img {
      width: 50%;
    }
  }
  &__name {
    a::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  &__price-and-button {
    &__price-and-button_price{
      p {

      }
    }
    &_button {
      button {

      }
    }
  }
}

@media (min-width: 643px) {
  .card {
    width: calc(100%/2 - 30px);
  }
}

@media (min-width: 970px) {
  .card {
    width: calc(100%/3 - 30px);
    &__image{
      img {
        width: 10%;
      }
    }
  }
}

@media (min-width: 1297px) {
  .card {
    width: calc(100%/4 - 30px);
  }
}
