@import './../../../../index.scss';
.card {
  flex: 0 1 25%;
  padding: 0 15px;
  margin-bottom: 15px;

  &__content{
    padding: 20px;
    background-color: white;
    border-radius: 20px;
  }
  &__image {
    text-align: center;
    margin-bottom: 30px;
    img {
      width: 140px;
      height: 140px;
      object-fit: contain;
    }
  }
  &__name {
    height: 30px;
    margin-bottom: 50px;
    a {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;
      color: $black;
      font-size: 18px;
      letter-spacing: 1px;
      line-height: 25px;
      font-weight: 500;
      // &:hover {
      //   font-size: 19px;
      //   transition: font-size 0.4s ease;
      // }
    }
  }
  &__price-and-button {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    &_price{
      p {
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 5px;
        border-bottom: 1px solid $black;
        margin-top: 10px;
        
      }
    }
    &_button {

      button {
        background-color: $black;
        color: white;
        font-size: 16px;
        padding: 10px;
        border-radius: 5px;
        &:hover{
          background-color: white;
          color: $black;
          outline: 1px solid $black;
          border-radius: 5px;
          transition: all 0.5s ease;
          
        }
      }
    }
  }
}

@media(max-width: 1100px){
  .card {
    margin-bottom: 20px;
    padding: 0 10px;
    &__price-and-button{
      &_price {
        p {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .card{
    flex: 0 1 33.333%;
  }
}

@media (max-width: 768px) {
  .card{
    flex: 0 1 50%;
  }
}

@media (max-width: 500px) {
  .card{
    flex: 1 1 100%;
    padding: 0;
    margin-bottom: 10px;
  }
}
