.card {
  max-width: 297px;
  background-color: white;
  border-radius: 20px;
  &__container {
    padding: 20px;
  }
  &__content{

  }
  &__image {
    width: 100%;
    img {
      max-width: 100%;
      border-radius: 20px;
    }
  }
  &__name {
    p {

    }
  }
  &__price-and-button {
    &__price-and-button_price{
      p {

      }
    }
    &_button {
      button {

      }
    }
  }
}