.cart {
    &__sum {
        
        display: flex;
        flex-direction: column;
        flex: 0 1 35%;
        &_content {
            padding: 20px;
            color: white;
        }
    }
    &__number {
        font-size: 22px;
        font-weight: 500;
        border-bottom: 3px solid #E0E0E0;
        padding-bottom: 10px;
        
    }
    &__progress {
        padding: 20px 0;
        border-bottom: 3px solid #E0E0E0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        p {
            font-size: 18px;
        }
        &_delivery {
            
        }
        &_payment {
            
        }
        &_contacts {
            
        }
    }
    &__result-sum {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        border-bottom: 3px solid #E0E0E0;
        h4{
            font-size: 20px;
            letter-spacing: 1px;
            font-weight: 500;
            padding-top: 6px;
        }
        p {
            font-size: 30px;
            letter-spacing: 1px;
            color: rgb(170, 0, 0);
        }
    }
    &__buy-button {
        display: flex;
        margin-top: 40px;
        button {
            flex: 0 1 100%;
            font-size: 20px;
            text-transform: uppercase;
            padding: 10px 0;
            letter-spacing: 1px;
        }
    }
}